@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <h5 class"text-white text-center siderbar-heading">@EntriesSubject</h5>
        
        <a href="more-data" @onclick="@RefreshEntries">refresh</a>

        <ul class="list-group">
            <EntriesComponent @ref="entriesComponent" />
        </ul>


    </div>

    <main>
        
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
       
    </main>


</div>




@code 
{
    public string EntriesSubject { get; set; } = "bugün";

    private EntriesComponent entriesComponent;

    private async Task RefreshEntries()
    {
        await entriesComponent.RefreshList();
    }
}
